/*Policia Militar*/
#top {
    position: relative;
    background-color: #DDDDDD;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    border-radius: 10px;
}

#bottom {
    position: relative;
    background-color: #DDDDDD;
    height:auto;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    color:  #000000;
    text-align: center;
    font-family: Arial;
     border-radius: 10px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    height: 618px;
    position: relative;
    background-color: #DDDDDD;
    padding: 5px;
    border-radius: 10px;
}

.left_content {
    background-color: #DDDDDD;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #DDDDDD;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: #000000;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: #000000;
    font-weight : bold;
}

#tabela { 
    position:relative; 
    left:7%; 
    display:block;
}

#logo{
    position: relative;
}

#menu{
    position:relative;
    bottom: auto;
    margin-right:auto;
    margin-left:auto;
    margin-top:auto;
    width: auto;
    background-color: #DDDDDD;

}

#barraMenu{
    border-radius: 5px;
}

#miolo{
    position:relative;
    bottom: auto;
    margin-right:auto;
    margin-left:auto;
    margin-top: 30px;
    width: 90%;
}

#botaoCadastrar{
    align-content: center;   
}

#chamarRelatorio{
    margin: 0px 0px 0px 92.5%;
}
#dialogCidade{
    text-align: center;
}

.ui-button:hover {
   border: 0.01px solid #000000;
}

